/*******************************/
/* INIT                        */
/*******************************/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.cb {
  color: #069447;
  font-size: 14px;
}

.cb-inp {
  margin-left: 10px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

/**Primary Color*/
/**Secondary Color*/
/**Tertiary Color*/
/**Util Colors**/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-moz-selection {
  color: #fff;
  background: #069447;
}

::selection {
  color: #fff;
  background: #069447;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: #434343;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #e8f6fd;
  overflow-y: hidden;
  padding-bottom: 4rem;
}

main {
  margin-top: 110px;
  margin-left: 240px;
  min-height: calc(100vh - 110px);
  max-width: calc(100vw - 280px);
  background-color: #fff;
  border-radius: 4px;
}

body.noScroll {
  overflow: hidden;
}

.clearfix {
  clear: both;
  overflow: auto;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/*******************************/
/* UTILS                       */
/*******************************/
#logo .st0 {
  fill: #069447;
}

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

.p-f {
  position: fixed;
}

.top-0 {
  top: 0;
}

.top-10 {
  top: 10%;
}

.top-20 {
  top: 20%;
}

.top-30 {
  top: 30%;
}

.top-40 {
  top: 40%;
}

.top-50 {
  top: 50%;
}

.bottom-10 {
  bottom: 10%;
}

.bottom-20 {
  bottom: 20%;
}

.bottom-30 {
  bottom: 30%;
}

.bottom-40 {
  bottom: 40%;
}

.bottom-50 {
  bottom: 50%;
}

.left-0 {
  left: 0;
}

.left-50 {
  left: 50%;
}

.right-0 {
  right: 0;
}

.right-50 {
  right: 50%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mx-auto {
  margin: 0 auto;
}

.center-r-h {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-a-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-f-h {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.center-r-v {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-a-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-f-v {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.center-r-b {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-a-b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-f-b {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mt-5 {
  margin-top: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mt-15 {
  margin-top: 1.5rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-45 {
  margin-top: 4.5rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-15 {
  margin-right: 1.5rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mr-25 {
  margin-right: 2.5rem;
}

.mr-30 {
  margin-right: 3rem;
}

.mr-35 {
  margin-right: 3.5rem;
}

.mr-40 {
  margin-right: 4rem;
}

.mr-45 {
  margin-right: 4.5rem;
}

.mr-50 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-35 {
  margin-bottom: 3.5rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-45 {
  margin-bottom: 4.5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mb-90 {
  margin-bottom: 9rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.ml-5 {
  margin-left: 0.5rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-15 {
  margin-left: 1.5rem;
}

.ml-20 {
  margin-left: 2rem;
}

.ml-25 {
  margin-left: 2.5rem;
}

.ml-30 {
  margin-left: 3rem;
}

.ml-35 {
  margin-left: 3.5rem;
}

.ml-40 {
  margin-left: 4rem;
}

.ml-45 {
  margin-left: 4.5rem;
}

.ml-50 {
  margin-left: 5rem;
}

.my-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-10 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-15 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-20 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-25 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my-35 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.my-40 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my-50 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.pt-5 {
  padding-top: 0.5rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pt-15 {
  padding-top: 1.5rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-35 {
  padding-top: 3.5rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pt-45 {
  padding-top: 4.5rem;
}

.pt-50 {
  padding-top: 5rem;
}

.pr-5 {
  padding-right: 0.5rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pr-15 {
  padding-right: 1.5rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pr-25 {
  padding-right: 2.5rem;
}

.pr-30 {
  padding-right: 3rem;
}

.pr-35 {
  padding-right: 3.5rem;
}

.pr-40 {
  padding-right: 4rem;
}

.pr-45 {
  padding-right: 4.5rem;
}

.pr-50 {
  padding-right: 5rem;
}

.pb-5 {
  padding-bottom: 0.5rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pb-15 {
  padding-bottom: 1.5rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pb-35 {
  padding-bottom: 3.5rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pb-45 {
  padding-bottom: 4.5rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 0.5rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pl-15 {
  padding-left: 1.5rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-25 {
  padding-left: 2.5rem;
}

.pl-30 {
  padding-left: 3rem;
}

.pl-35 {
  padding-left: 3.5rem;
}

.pl-40 {
  padding-left: 4rem;
}

.pl-45 {
  padding-left: 4.5rem;
}

.pl-50 {
  padding-left: 5rem;
}

.pa-5 {
  padding: 0.5rem;
}

.pa-10 {
  padding: 1rem;
}

.pa-15 {
  padding: 1.5rem;
}

.pa-20 {
  padding: 2rem;
}

.pa-25 {
  padding: 2.5rem;
}

.pa-30 {
  padding: 3rem;
}

.pa-35 {
  padding: 3.5rem;
}

.pa-40 {
  padding: 4rem;
}

.pa-45 {
  padding: 4.5rem;
}

.pa-50 {
  padding: 5rem;
}

.py-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-25 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-35 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-40 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-45 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.py-50 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-10 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-20 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-25 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-30 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-35 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.px-40 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-45 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.px-50 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.br-r-1 {
  border-radius: 1px;
}

.br-r-2 {
  border-radius: 2px;
}

.br-r-2 {
  border-radius: 2px;
}

.br-r-3 {
  border-radius: 3px;
}

.br-r-4 {
  border-radius: 4px;
}

.br-r-5 {
  border-radius: 5px;
}

.br-r-6 {
  border-radius: 6px;
}

.br-r-7 {
  border-radius: 7px;
}

.br-r-8 {
  border-radius: 8px;
}

.br-r-9 {
  border-radius: 9px;
}

.br-r-10 {
  border-radius: 10px;
}

.br-r-11 {
  border-radius: 11px;
}

.br-r-12 {
  border-radius: 12px;
}

.br-r-13 {
  border-radius: 13px;
}

.br-r-14 {
  border-radius: 14px;
}

.br-r-15 {
  border-radius: 15px;
}

.br-r-16 {
  border-radius: 16px;
}

.br-r-17 {
  border-radius: 17px;
}

.br-r-18 {
  border-radius: 18px;
}

.br-r-19 {
  border-radius: 19px;
}

.br-r-20 {
  border-radius: 20px;
}

.br-r-50 {
  border-radius: 50%;
}

.btn:link,
.btn:visited,
.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  text-decoration: none;
}

.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #069447;
}

.btn-primary:hover {
  background-color: #057b3b;
}

.btn-primary:active {
  background-color: #04632f;
}

.btn-secondary {
  background-color: #0c5b85;
}

.btn-secondary:hover {
  background-color: #083b56;
}

.btn-tertiary:link,
.btn-tertiary:visited,
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active {
  background-color: #d17608;
}

.btn-tertiary:hover {
  background-color: #a05a06;
}

.transition-1 {
  transition: all 0.1s ease-in-out;
}

.transition-2 {
  transition: all 0.2s ease-in-out;
}

.transition-3 {
  transition: all 0.3s ease-in-out;
}

.transition-4 {
  transition: all 0.4s ease-in-out;
}

.transition-5 {
  transition: all 0.5s ease-in-out;
}

.transition-6 {
  transition: all 0.6s ease-in-out;
}

.transition-7 {
  transition: all 0.7s ease-in-out;
}

.transition-8 {
  transition: all 0.8s ease-in-out;
}

.transition-9 {
  transition: all 0.9s ease-in-out;
}

.transition-10 {
  transition: all 1s ease-in-out;
}

.bg-primary {
  background-color: #069447;
}

.bg-secondary {
  background-color: #0c5b85;
}

.bg-tertiary {
  background-color: #0c5b85;
}

.bg-lg-1 {
  background-color: #eee;
}

.bg-lg-2 {
  background-color: #ccc;
}

.bg-lg-3 {
  background-color: #999;
}

.lbg {
  background-color: #d1edfb;
}

.regular-link {
  text-decoration: none;
}
.regular-link:hover {
  text-decoration: underline;
}

.avatar path {
  fill: #7e7e7e;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-ExtraLight.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-Light.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-Regular.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-Medium.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-SemiBold.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./../fonts/woff2/Poppins-Bold.woff2') format('woff2'),
    url('./../fonts/woff/Poppins-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

.f-s-10 {
  font-size: 1rem;
}

.f-s-11 {
  font-size: 1.1rem;
}

.f-s-12 {
  font-size: 1.2rem;
}

.f-s-13 {
  font-size: 1.3rem;
}

.f-s-14 {
  font-size: 1.4rem;
}

.f-s-15 {
  font-size: 1.5rem;
}

.f-s-16 {
  font-size: 1.6rem;
}
@media (max-width: 576px) {
  .f-s-16 {
    font-size: 16px;
  }
}

.f-s-17 {
  font-size: 1.7rem;
}

.f-s-18 {
  font-size: 1.8rem;
}

.f-s-19 {
  font-size: 1.9rem;
}

.f-s-20 {
  font-size: 2rem;
}

.f-s-22 {
  font-size: 2.2rem;
}

.f-s-24 {
  font-size: 2.4rem;
}

.f-s-26 {
  font-size: 2.6rem;
}

.f-s-28 {
  font-size: 2.8rem;
}

.f-s-30 {
  font-size: 3rem;
}

.f-s-35 {
  font-size: 3.5rem;
}

.f-s-40 {
  font-size: 4rem;
}

.f-s-45 {
  font-size: 4.5rem;
}

.f-s-50 {
  font-size: 5rem;
}

.f-w-3 {
  font-weight: 300;
}

.f-w-4 {
  font-weight: 400;
}

.f-w-5 {
  font-weight: 500;
}

.f-w-6 {
  font-weight: 600;
}

.f-w-7 {
  font-weight: 700;
}

.f-w-8 {
  font-weight: 800;
}

.f-w-9 {
  font-weight: 900;
}

.text-color-primary {
  color: #069447;
}

.text-color-secondary {
  color: #0c5b85;
}

.text-color-tertiary {
  color: #d17608;
}

.text-color-font {
  color: #434343;
}

.text-color-font-l {
  color: #7e7e7e;
}

.text-color-lg {
  color: #999;
}

.text-color-mg {
  color: #666;
}

.text-color-black {
  color: #000;
}

.text-color-white {
  color: #fff;
}

.text-color-red {
  color: #ff3d00;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1340px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }
  .d-print-inline {
    display: inline !important;
  }
  .d-print-inline-block {
    display: inline-block !important;
  }
  .d-print-block {
    display: block !important;
  }
  .d-print-table {
    display: table !important;
  }
  .d-print-table-row {
    display: table-row !important;
  }
  .d-print-table-cell {
    display: table-cell !important;
  }
  .d-print-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-print-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

/*******************************/
/* COMPONENTS                  */
/*******************************/
#nav {
  width: 200px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  border-right: 1px solid #e8f6fd;
  z-index: 9999999999;
}
#nav .logoContainer {
  height: 70px;
  position: relative;
  border-bottom: 1px solid #e8f6fd;
}
#nav .logoContainer svg {
  width: 100%;
}
#nav .navContainer {
  padding-top: 45px;
  position: relative;
  height: 100%;
}
#nav .navContainer ul {
  list-style: none;
}
#nav .navContainer ul li a {
  display: flex;
  height: 50px;
  color: #7e7e7e;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s;
  position: relative;
}
#nav .navContainer ul li a .icon {
  min-width: 25px;
  height: 20px;
  text-align: center;
  left: 3.5rem;
  position: relative;
}
#nav .navContainer ul li a .icon .fill g,
#nav .navContainer ul li a .icon .fill path {
  fill: #7e7e7e;
}
#nav .navContainer ul li a .icon .stroke g,
#nav .navContainer ul li a .icon .stroke path {
  stroke: #7e7e7e;
}
#nav .navContainer ul li a .title {
  transition: all 0.3s;
  left: 3.5rem;
  position: relative;
}
#nav .navContainer ul li a[data-hover='hoverActive']:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background: #e8f6fd;
  top: 0;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#nav .navContainer ul li a[data-hover='hoverActive']:after {
  animation: afterEnter 0.3s;
}
#nav .navContainer ul li a[data-hover='hoverActive']:active:after {
  background-color: #b9e4f9;
  height: 90%;
}
#nav .navContainer ul li a[data-hover='hoverLeft']:after {
  position: absolute;
  height: 100%;
  width: 0;
  content: '';
  background: #e8f6fd;
  top: 0;
  z-index: -1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#nav .navContainer ul li a[data-hover='hoverLeft']:after {
  animation: afterExit 0.3s;
}

@keyframes afterEnter {
  0% {
    width: 0;
    height: 33px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0;
  }
}

@keyframes afterExit {
  0% {
    width: 100%;
    height: 100%;
  }
  80% {
    height: 33px;
  }
  100% {
    width: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}
#nav .navContainer ul li a.active {
  color: #434343;
  font-weight: 600;
}
#nav .navContainer ul li a.active .icon .fill g {
  fill: #434343;
}
#nav .navContainer ul li a.active .icon .fill path {
  fill: #434343;
}
#nav .navContainer ul li a.active .icon .stroke g {
  stroke: #434343;
}
#nav .navContainer ul li a.active .icon .stroke path {
  stroke: #434343;
}
#nav .navContainer ul li.subMenu .subMenuToggle {
  cursor: pointer;
}
#nav .navContainer ul li.subMenu .subMenuDropdown {
  height: 0;
  overflow-y: hidden;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#nav .navContainer ul li.subMenu .subMenuDropdown:after {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #e8f6fd;
  content: '';
}

#header {
  height: 70px;
  position: fixed;
  left: 200px;
  top: 0;
  background-color: #fff;
  width: calc(100% - 200px);
  border-bottom: 1px solid #e8f6fd;
  z-index: 9999;
}
#header .breadcrumbs {
  height: 100%;
}
#header .breadcrumbs a {
  color: #7e7e7e;
}
#header .breadcrumbs a:hover {
  color: #656565;
}
#header .headerInfo {
  float: right;
  height: 100%;
}
#header .headerInfo .search,
#header .headerInfo .notification,
#header .headerInfo .profile {
  height: 100%;
  border-left: 1px solid #e8f6fd;
  position: relative;
  cursor: pointer;
}
#header .headerInfo .search svg,
#header .headerInfo .notification svg,
#header .headerInfo .profile svg {
  position: relative;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
#header .headerInfo .search:after,
#header .headerInfo .notification:after,
#header .headerInfo .profile:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8f6fd;
  content: '';
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.1s;
  transform-origin: bottom;
}
#header .headerInfo .search:hover:after,
#header .headerInfo .notification:hover:after,
#header .headerInfo .profile:hover:after {
  transform: scaleY(1);
}
#header .headerInfo .search,
#header .headerInfo .notification {
  width: 70px;
}
#header .headerInfo .notification .notif {
  position: absolute;
  background-color: #ff3d00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  right: 12px;
  top: 17px;
}
#header .headerInfo .notification .notif.zero {
  display: none;
}
#header .headerInfo .profile {
  width: 90px;
}
#header .headerInfo .profile:hover .imgContainer:after {
  opacity: 1;
  transform: translateY(0);
}
#header .headerInfo .profile:hover .imgContainer svg {
  filter: blur(1px) brightness(60%);
}
#header .headerInfo .profile a {
  width: 100%;
  height: 100%;
  display: block;
}
#header .headerInfo .profile a:active {
  background: #b9e4f9;
}
#header .headerInfo .profile a .imgContainer {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
#header .headerInfo .profile a .imgContainer:after {
  position: absolute;
  height: 100%;
  width: 100%;
  content: 'Profil';
  font-family: Poppins, sans-serif;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #434343;
}
#header .headerInfo .profile a .imgContainer svg {
  max-width: 100%;
  max-height: 100%;
}
#header .headerInfo .profile a .imgContainer svg path {
  fill: #9ea8b8;
}
#header .headerInfo .logout {
  width: 70px;
  height: 100%;
  border-left: 1px solid #e8f6fd;
  position: relative;
}
#header .headerInfo .logout button {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
#header .headerInfo .logout button svg {
  transition: all 0.1s ease-in-out;
}
#header .headerInfo .logout button svg path,
#header .headerInfo .logout button svg rect {
  fill: #9ea8b8;
}
#header .headerInfo .logout button:hover svg path,
#header .headerInfo .logout button:hover svg rect {
  fill: #fff;
}
#header .headerInfo .logout button:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3d00;
  content: '';
  z-index: -1;
  transform: scaleY(0);
  transition: all 0.1s;
  transform-origin: bottom;
}
#header .headerInfo .logout button:hover:after {
  transform: scaleY(1);
}
#header .headerInfo .logout button:active:after {
  background: #cc3100;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table .thead tr {
  border-top: 1px solid #b9e4f9;
  border-bottom: 1px solid #b9e4f9;
  height: 40px;
}
.table .tbody tr {
  border-bottom: 1px solid #e8f6fd;
  transition: all 0.1s ease-in-out;
}
.table .tbody tr:hover {
  background-color: #e8f6fd;
}
.table .tbody tr td {
  padding: 2rem 1rem;
  height: 50px;
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  min-height: 37px;
}
.btn.btn-primary {
  background-color: #069447;
}
.btn.btn-primary:hover {
  background-color: #057b3b;
}
.btn.btn-primary:active {
  background-color: #04632f;
}
.btn.red {
  background-color: #ff3d00;
}
.btn.red:hover {
  background-color: #e63700;
}
.btn.red:active {
  background-color: #cc3100;
}
.btn.green {
  background-color: #00c963;
}
.btn.green:hover {
  background-color: #00b056;
}
.btn.green:active {
  background-color: #00964a;
}

.inputWrapper {
  position: relative;
}
.inputWrapper input,
.inputWrapper textarea {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #08c55f;
  outline: none;
  padding-left: 1rem;
  font-size: 14px;
  position: relative;
  z-index: 1;
  line-height: 1;
  color: #069447;
}
.inputWrapper textarea {
  resize: none;
  height: 80px;
  padding: 1.5rem 1rem;
}
.inputWrapper label {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  font-size: 14px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  z-index: 2;
  display: block;
  cursor: text;
  padding: 0 0.5rem;
  color: #069447;
  pointer-events: none;
  line-height: 1;
}
.inputWrapper input:focus ~ label,
.inputWrapper textarea:focus ~ label {
  font-size: 1rem;
  top: 0;
  color: #069447;
}
.inputWrapper .count {
  position: absolute;
  right: 0.5rem;
  top: 100%;
  transform: translateY(-10px);
  z-index: 2;
  background-color: #fff;
  color: #08c55f;
  line-height: 1;
}
.inputWrapper.textArea label {
  top: 2rem;
}
.inputWrapper.hasText label {
  font-size: 1rem;
  top: 0;
  color: #069447;
}
.inputWrapper.file input {
  display: none;
}
.inputWrapper.file label {
  cursor: pointer;
  display: inline-block;
  position: static;
  pointer-events: all;
  color: #fff;
  width: 150px;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.errorPopup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.errorPopup .content {
  position: absolute;
  width: 550px;
  min-height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}
.errorPopup .content ul li {
  list-style: none;
  color: #ff3d00;
}
.errorPopup.popupShown {
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}
.errorPopup.popupShown .content {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.uploadBar {
  height: 100px;
}
.uploadBar .barWrapper {
  border: 1px solid #b9e4f9;
  width: 100%;
  border-radius: 4px;
}
.uploadBar .barWrapper .bar {
  height: 30px;
  width: 100%;
  background: #b9e4f9;
  overflow-x: hidden;
  position: relative;
}
.uploadBar .outerProgress {
  z-index: 2;
}

.loader .fancy-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
}
.loader .fancy-spinner div {
  position: absolute;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.loader .fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  animation: 2s fancy infinite alternate;
}
.loader .fancy-spinner div.ring:nth-child(1) {
  border-left-color: #069447;
  border-right-color: #069447;
}
.loader .fancy-spinner div.ring:nth-child(2) {
  border-top-color: #069447;
  border-bottom-color: #069447;
  animation-delay: 1s;
}
.loader .fancy-spinner div.dot {
  width: 1.5rem;
  height: 1.5rem;
  background: #d17608;
}

@keyframes fancy {
  to {
    transform: rotate(360deg) scale(0.5);
  }
}

.innerNavigation {
  position: relative;
}
.innerNavigation .link {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.innerNavigation .link:hover {
  color: #069447;
}
.innerNavigation .indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: #069447;
  transition: all 0.2s ease-in-out;
}

.addTeamModal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 99999999999999;
  transition: all 0.2s ease-in-out;
  transform: translateY(-100%);
}
.addTeamModal .addTeamContent {
  width: 800px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.addTeamModal.sortItems .sortItemsContent {
  height: 80vh;
  width: 800px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.addTeamModal.sortItems .sortItemsContent .sorting {
  height: calc(100% - 110px);
  overflow: auto;
}
.addTeamModal.sortItems .sortItemsContent .sorting li {
  cursor: pointer;
}
.addTeamModal.sortItems .sortItemsContent .left {
  color: #434343 !important;
}
.addTeamModal.sortItems .sortItemsContent .action {
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #fff;
  left: 15px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.addTeamModal.sortItems .sortItemsContent .action button {
  height: 35px;
}
.addTeamModal.visible {
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}
.addTeamModal.visible .addTeamContent,
.addTeamModal.visible .sortItemsContent {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.SortableHelper {
  z-index: 99999999999999999999999999;
}

.menuList ul {
  list-style: none;
}
.menuList ul > li {
  list-style: none;
}
.menuList ul > li span {
  min-height: 50px;
}
.menuList ul > li span:hover {
  background-color: #b9e4f9;
  transition: all 0.2s ease-in-out;
}
.menuList ul > li.level-1 {
  background-color: white;
}
.menuList ul > li.level-0 {
  border-bottom: 1px solid #b9e4f9;
}
.menuList ul > li.level-0 span:hover {
  background-color: #e8f6fd;
}
.menuList ul > li svg {
  cursor: grab;
}
.menuList ul > li svg.fill path {
  fill: #7e7e7e;
}

.wrapper .pagination {
  display: flex;
}
.wrapper .pagination li {
  margin-right: 1rem;
  font-size: 1.6rem;
  list-style: none;
  min-width: 27px;
  border: 1px solid #069447;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.wrapper .pagination li a {
  color: #069447;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  transition: all 0.1s ease-in-out;
}
.wrapper .pagination li.active {
  background-color: #069447;
}
.wrapper .pagination li.active a {
  color: #fff;
}
.wrapper .pagination li:hover {
  background-color: #069447;
}
.wrapper .pagination li:hover a {
  color: #fff;
}

/*******************************/
/* VENDORS                     */
/*******************************/
.jodit_container .jodit_workplace,
.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar,
.jodit_container
  .jodit_toolbar
  > li.jodit_toolbar_btn.jodit_toolbar_btn-separator,
.jodit_container .jodit_toolbar > li.jodit_toolbar_btn.jodit_toolbar_btn-break {
  border-color: #b9e4f9;
}

.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar {
  background-color: #ffffff;
}

.jodit_container .jodit_toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.jodit_container .jodit_icon,
.jodit_container .jodit_toolbar .jodit_toolbar_btn > a {
  fill: #0e73a5;
  color: #434343;
}

.jodit_container .jodit_wysiwyg {
  color: #434343;
  font-family: Poppins, sans-serif;
}

.jodit_container
  .jodit_toolbar
  > li.jodit_toolbar_btn.jodit_with_dropdownlist
  .jodit_with_dropdownlist-trigger {
  border-top-color: #434343;
}

.jodit_container .jodit_placeholder {
  color: #43434380;
}

.jodit_container:not(.jodit_inline) .jodit_workplace {
  border: 1px solid #b9e4f9 !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.textEditor {
  position: relative;
}
.textEditor .count {
  position: absolute;
  right: 0.5rem;
  top: 100%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #fff;
  color: #8ad1f5;
  line-height: 1;
}

.jodit_colorpicker_group.jodit_colorpicker_group-full {
  display: none;
}

.react-date-picker {
  display: inline-flex;
  position: relative;
}

.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;
}

.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-date-picker__button:enabled {
  cursor: pointer;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}

.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}

.react-date-picker__button svg {
  display: inherit;
}

.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.react-date-picker__calendar--closed {
  display: none;
}

.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.react-date-picker__wrapper,
.react-datetime-picker__wrapper {
  border: 1px solid #b9e4f9 !important;
  border-radius: 4px;
  padding-left: 1rem;
}
.react-date-picker__wrapper input,
.react-datetime-picker__wrapper input {
  font-size: 1.4rem;
  color: #5bbff1;
  outline: none;
}

.react-date-picker {
  height: 100%;
  width: 100%;
}

.react-date-picker__calendar.react-date-picker__calendar--open {
  z-index: 99;
}

.react-datetime-picker__inputGroup__leadingZero {
  font-size: 1.4rem;
  color: #5bbff1;
  outline: none;
}

.react-calendar__navigation__label {
  font-size: 1.4rem;
}

.react-calendar__month-view__weekdays__weekday {
  font-size: 1.3rem;
}

.react-calendar__tile {
  font-size: 1.2rem;
}

.react-date-picker__clear-button.react-date-picker__button,
.react-datetime-picker__calendar-button.react-datetime-picker__button,
.react-date-picker__calendar-button.react-date-picker__button,
.react-datetime-picker__clear-button.react-datetime-picker__button {
  outline: none;
}

.react-datetime-picker {
  width: 100%;
  height: 40px;
}

.react-datetime-picker__inputGroup__amPm {
  font-size: 1.4rem !important;
  color: #5bbff1;
  outline: none;
}

.select__menu {
  z-index: 99999 !important;
}

.select__control {
  border-color: #08c55f !important;
}

.select__placeholder,
.select__single-value {
  font-size: 1.4rem !important;
  color: #069447 !important;
}

.select__control--is-focused {
  box-shadow: 0 0 0 1px #b9e4f9 !important;
}

.select__option {
  font-size: 1.4rem !important;
}

.select__option--is-focused {
  background: #e8f6fd !important;
}

.select__option--is-selected {
  background: #b9e4f9 !important;
  color: #434343 !important;
}

/*******************************/
/* PAGES                       */
/*******************************/
.galleryWrapper .selectedImages {
  border: 1px solid #b9e4f9;
  border-radius: 4px;
}
.galleryWrapper .selectedImages ul li {
  list-style: none;
}

.borders {
  border-top: 1px solid #b9e4f9;
  border-bottom: 1px solid #b9e4f9;
}

#loginPage {
  height: 100vh;
}
#loginPage form {
  padding: 2rem 4rem;
  background-color: #fff;
  border-radius: 5px;
  min-width: 500px;
}
#loginPage form .logoContainer svg {
  height: 100px;
}
@media (max-width: 767px) {
  #loginPage form {
    min-width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
